.nav {
    background-color: hsl(123, 79%, 48%);
    padding-top: 20px;
}

.a {
    text-decoration: none;
}

.p {
    position: relative;
    left: 75vw;
    color: white;
}

.main {
    min-height: 100vh;
    max-width: 100vw;
    background-color: hsl(123, 79%, 48%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: left;
    color: white;
    padding: 20px 0;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}